@import "vars";

:host {
    display: block;
    padding: 12px 8px 52px;
    width: $rightMenuWidth - 16px;
    color: #616161;
    line-height: 40px;
    overflow-x: hidden;
    overflow-y: scroll;
    white-space: nowrap;
}

.links {
    position: relative;
    box-sizing: border-box;
    list-style: none;
}
