@import "vars";

:host {
    display: block;
    height: 100%;
    padding: 12px 8px 52px;
    width: $rightMenuWidth - 16px;
    color: #616161;
    line-height: 40px;
    overflow-x: hidden;
    overflow-y: auto;
    white-space: nowrap;
}

.links {
    position: relative;
    box-sizing: border-box;
    list-style: none;
    border-bottom: 1px solid #ddd;
    padding-bottom: 8px;
    margin-bottom: 13px;
}

.add-category {
    padding-right: 16px;
    display: flex;
    align-items: center;
    cursor: pointer;

    &:hover {
        background-color: rgba(0, 0, 0, 0.03);
        border-radius: 2px;
    }

    span {
        display: inline-block;
        padding-right: 24px;
    }
}
