:host {
    display: block;

    &:hover {
        background-color: rgba(0, 0, 0, 0.03);
        border-radius: 2px;
    }

    &[active=true] {
        background-color: rgba(0, 0, 0, 0.05);

        span {
            font-weight: 800;
            color: black;
        }
    }
}

a {
    display: flex;
    align-items: center;
    padding-right: 16px;
    padding-left: 12px;
}

span {
    display: inline-block;
    padding-right: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex-grow: 1;
    color: rgba(0, 0, 0, 0.7);
}

i {
    color: #616161;
}
