:host {
    display: block;
    padding: 23px 12px 23px 15px;
    pointer-events: auto;
}

.fab-btn {
    background-color: #d23f31;
    height: 56px;
    position: relative;
    width: 56px;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
    box-sizing: content-box;
    cursor: pointer;
    outline: none;
    padding: 0;
    pointer-events: auto;
    opacity: 1;
    transition: 0.2s opacity;

    &[disabled] {
        opacity: 0.4;
        box-shadow: none;
        cursor: default;
    }
}

.fab-plus {
    color: white;
    font-size: 33px;
    height: 33px;
    width: 33px;
    vertical-align: middle;
}

.fab-panel {
    position: absolute;
    bottom: 79px;
    left: 0;
    width: 100%;
    pointer-events: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fab-panel-btn {
    background-color: #7a0606;
    display: block;
    height: 40px;
    width: 40px;
    margin: 10px 0;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
    transition: 0.2s box-shadow;

    &:hover {
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.16), 0 6px 12px rgba(0, 0, 0, 0.32);
    }

    .fa {
        color: white;
    }
}
