:host {
    display: block;
}

.delete-btn {
    color: #d23f31;
}

.save-btn {
    color: #3367d6;
}

.mat-form-field {
    min-width: 0;

    &.with-padding {
        padding: 0 10px;
    }
}

.ingredients-title {
    font-weight: 800;
}

.add-ingredient-btn {
    cursor: pointer;
    border-radius: 50%;
    user-select: none;

    &:hover {
        background-color: rgba(0, 0, 0, 0.1);
    }
}
