:host {
    display: block;
}

.delete-btn {
    color: #d23f31;
}

.save-btn {
    color: #3367d6;
}

.mat-form-field {
    min-width: 0;
    
    &.with-padding {
        padding: 0 10px;
    }
}

.ingredients-title {
    font-weight: 800;
}
