:host {
    display: flex;
    align-items: center;
    background-color: red;
    height: 100%;
}

.link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100px;
    
    a {
        margin: 0 10px;
        color: white;
    }

    &.active {
        background-color: darkred;
        font-weight: 800;
    }
}
