<mat-expansion-panel hideToggle="true">
    <mat-expansion-panel-header>
        <mat-panel-title>{{distributorItem.name}}</mat-panel-title>
        <mat-panel-description>
            <span class="item-desc">{{distributorItem.phoneNumber}}</span>
        </mat-panel-description>
    </mat-expansion-panel-header>

    <ng-template matExpansionPanelContent>
            <form [formGroup]="form" (ngSubmit)="update()">
                <mat-form-field>
                    <input matInput placeholder="שם" formControlName="name">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="טלפון" formControlName="phoneNumber">
                </mat-form-field>
                <mat-action-row>
                    <button class="delete-btn" type="button" mat-button
                        (click)="delete()">
                        מחק
                    </button>
                    <button class="save-btn" type="submit" mat-button
                        [disabled]="form.pristine || form.invalid">
                        שמור
                    </button>
                </mat-action-row>
            </form>
        </ng-template>

</mat-expansion-panel>