<mat-expansion-panel hideToggle="true">
    <mat-expansion-panel-header>
        <mat-panel-title>{{baseItem.name}}</mat-panel-title>
        <mat-panel-description>
            <span class="item-desc">{{baseItem.weight}} {{baseItem.weightUnit | weightUnit}}</span>
            <span class="item-desc">{{baseItem.price}} {{currencySymbol$ | async}}</span>
            <span class="item-desc">{{category$ | async}}</span>
            <span class="item-desc">{{distributorName$ | async}}</span>
        </mat-panel-description>
    </mat-expansion-panel-header>

    <ng-template matExpansionPanelContent>
        <p>צריך לאתחל טופס</p>
        <mat-action-row>
            <button class="delete-btn" mat-button>מחק</button>
            <button class="save-btn" mat-button [disabled]="true">שמור</button>
        </mat-action-row>
    </ng-template>

</mat-expansion-panel>