:host {
    display: block;
}

.item-desc {
    display: inline-block;
    width: 22%;
}

.delete-btn {
    color: #d23f31;
}

.save-btn {
    color: #3367d6;
}

.mat-form-field {
    display: block;
}
