<form [formGroup]="addForm" (ngSubmit)="add()">
    <div class="top-btns">
        <a class="back-btn" routerLink="..">חזור</a>
        <button class="submit-btn" type="submit" [disabled]="addForm.invalid">
            הוסף
        </button>
    </div>
    <label *ngFor="let item of formCfg">
        <span>{{item.label}}</span>
        <input [type]="item.inputType" [formControlName]="item.ctrlKey">
    </label>


    <div class="tbl-header">
        <h4 class="col-15">חומר גלם/פריט</h4>
        <h4 class="col-15">כמות</h4>
        <h4 class="col-15">מחיר מחושב</h4>
        <!-- TODO: implement adding materials/items -->
    </div>
</form>