:host {
    display: block;
}

.top-btns {
    display: flex;
    justify-content: space-between;
    width: 200px;
    margin-bottom: 20px;
}

.back-btn {
    display: block;
    border: 1px solid black;
    border-radius: 4px;
    background-color: lightblue;
    height: 25px;
    line-height: 25px;
    width: 65px;
    text-align: center;
}

label {
    display: block;
}

.submit-btn {
    background-color: greenyellow;
}

.tbl-header {
    margin-top: 20px;
    display: flex;
}
