<mat-accordion class="category-list" multi="true" displayMode="default">
    <mat-expansion-panel hideToggle="true" *ngFor="let generalItem of generalItems$ | async">
        <mat-expansion-panel-header>
            <mat-panel-title>{{generalItem.item.name}}</mat-panel-title>
            <mat-panel-description>
                <span class="item-desc">{{generalItem.type | itemType}}</span>
            </mat-panel-description>
            <i class="item-type-icon fa"
                [class.fa-diamond]="generalItem.isBaseItem"
                [class.fa-cutlery]="generalItem.isCompositeItem">
            </i>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
            <kp-baseitem-details *ngIf="generalItem.isBaseItem"
                [baseItem]="generalItem.item">
            </kp-baseitem-details>
            <kp-compositeitem-details *ngIf="generalItem.isCompositeItem"
                [compItem]="generalItem.item">
            </kp-compositeitem-details>
        </ng-template>
    </mat-expansion-panel>
</mat-accordion>