@import "vars";

:host {
    display: block;
    height: 100%;
}

.top-bar {
    position: fixed;
    top: 0;
    height: $headerHeight;
    width: 100%;
    z-index: 20;
    box-sizing: border-box;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
}

.side-bar {
    background: #ededed;
    top: 56px;
    bottom: 0;
    right: 0;
    width: $rightMenuWidth;
    position: fixed;
    z-index: 1;
    overflow: hidden;
    transform: translateX(#{$rightMenuWidth + 2px});
    transition: transform 0.2s ease-in-out;

    &.show {
        transform: translateX(0);
    }
}

.call-to-action {
    position: fixed;
    left: 0;
    bottom: 0;
    pointer-events: none;
    white-space: nowrap;
    z-index: 21;
}

.body {
    height: 100%;
    box-sizing: border-box;
    padding-top: $headerHeight;

    &.side-nav-shown {
        @media (max-width: 1632px) {
            width: auto;
            margin-right: $rightMenuWidth + 40px;
            margin-left: 40px;
        }
    }
}
