@import "vars";

:host {
    display: block;
    height: 100%;
}

.top-bar {
    position: fixed;
    top: 0;
    height: $headerHeight;
    width: 100%;
    z-index: 20;
    box-sizing: border-box;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
}

.side-bar {
    background: #ededed;
    top: 56px;
    bottom: 0;
    right: 0;
    width: $rightMenuWidth;
    position: fixed;
    z-index: 1;
    transform: translateX(#{$rightMenuWidth + 2px});
    transition: transform 0.2s ease-in-out;

    &.show {
        transform: translateX(0);
    }
}

.call-to-action {
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 23px 12px 23px 15px;
    pointer-events: none;
    white-space: nowrap;
    z-index: 21;
}

.fab-btn {
    background-color: #d23f31;
    height: 56px;
    position: relative;
    width: 56px;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
    box-sizing: content-box;
    cursor: pointer;
    outline: none;
    padding: 0;
    pointer-events: auto;

    &:hover {
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.16), 0 6px 12px rgba(0, 0, 0, 0.32);
    }

    .fa {
        color: white;
    }
}

.body {
    height: 100%;
    box-sizing: border-box;
    padding-top: $headerHeight;

    &.side-nav-shown {
        @media (max-width: 1632px) {
            width: auto;
            margin-right: $rightMenuWidth + 40px;
            margin-left: 40px;
        }
    }
}
