$headerHeight: 56px;
$rightMenuWidth: 232px;

:host {
    display: block;
    height: 100%;
}

.top-bar {
    position: fixed;
    top: 0;
    height: $headerHeight;
    width: 100%;
    z-index: 20;
    box-sizing: border-box;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
}

.side-nav {
    background: #f2f2f2;
    bottom: 0;
    right: 0;
    overflow: visible;
    position: fixed;
    width: $rightMenuWidth;
    top: 56px;
    z-index: 1;
    border: 1px dashed green;
    transform: translateX(#{$rightMenuWidth + 2px});
    transition: transform 0.3s ease-in-out;

    &.show {
        transform: translateX(0);
    }
}

.body {
    margin-right: $rightMenuWidth;
    height: 100%;
    padding-top: $headerHeight;
    box-sizing: border-box;

    &.side-nav-hidden {
        margin-right: 0;
    }
}
