<form [formGroup]="form" (ngSubmit)="update()">
    <div style="display:flex;justify-content:space-between;">
        <mat-form-field>
            <input matInput placeholder="שם" formControlName="name">
        </mat-form-field>
        <mat-form-field class="with-padding">
            <input matInput type="number" placeholder="שעות עבודה" formControlName="hoursOfWork">
        </mat-form-field>
        <mat-form-field>
            <mat-select placeholder="קטגוריה" formControlName="itemCategoryId">
                <mat-option *ngFor="let opt of itemCategoryOptions$ | async" [value]="opt.id">
                    {{opt.text}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="ingredients-title">רכיבים</div>
    <div *ngFor="let ing of ingredients.controls; index as i">
        <kp-ingredient
            [ingCtrl]="ing"
            (delete)="remIngredient(i)">
        </kp-ingredient>
    </div>
    <mat-icon class="add-ingredient-btn" (click)="addIngredient()">add</mat-icon>
    <mat-action-row>
        <button class="delete-btn" type="button" mat-button
            (click)="delete()">
            מחק
        </button>
        <button class="save-btn" type="submit" mat-button
            [disabled]="form.pristine || form.invalid">
            שמור
        </button>
    </mat-action-row>
</form>