@import "vars";

:host {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    overflow-y: hidden;
}

.modal-title {
    border-bottom: 1px solid $modalSepColor;
    box-sizing: border-box;
    color: white;
    font-size: 16px;
    height: 49px;
    line-height: 49px;
    padding: 0 14px;
    text-align: right;
    background-color: #424242;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.close {
    cursor: pointer;

    &:hover {
        color: lightgray;
    }
}

.mat-form-field {
    display: block;
}

.modal-body {
    padding: 20px;
}

.modal-footer {
    box-sizing: border-box;
    padding: 6px;
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid $modalSepColor;
    background-color: white;
}

.fa-truck {
    margin-left: 10px;
}

form {
    width: 100%;
}

.submit-btn {
    height: 100%;
    float: left;
    color: #3367d6;
}
