<form [formGroup]="form" (ngSubmit)="update()">
    <mat-form-field>
        <input matInput placeholder="שם" formControlName="name">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="number" placeholder="משקל ({{_baseItem.weightUnit | weightUnit}})"
            formControlName="weight">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="number" placeholder="מחיר ({{currencySymbol$ | async}})"
            formControlName="price">
    </mat-form-field>
    <mat-form-field>
        <mat-select placeholder="ספק" formControlName="distributorId">
            <mat-option *ngFor="let opt of distributorOptions$ | async" [value]="opt.id">
                {{opt.text}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-select placeholder="קטגוריה" formControlName="itemCategoryId">
            <mat-option *ngFor="let opt of itemCategoryOptions$ | async" [value]="opt.id">
                {{opt.text}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-action-row>
        <button class="delete-btn" type="button" mat-button
            (click)="delete()">
            מחק
        </button>
        <button class="save-btn" type="submit" mat-button
            [disabled]="form.pristine || form.invalid">
            שמור
        </button>
    </mat-action-row>
</form>