<div class="modal-title">
    <span>
        <i class="fa fa-diamond"></i>
        <span>הוספת פריט</span>
    </span>
    <mat-icon class="close" (click)="close()">close</mat-icon>
</div>
<form [formGroup]="form" (ngSubmit)="add()">
    <div class="modal-body">
        <mat-form-field>
            <input matInput placeholder="שם" formControlName="name">
        </mat-form-field>
        <mat-form-field>
            <input matInput type="number" placeholder="שעות עבודה" formControlName="hoursOfWork">
        </mat-form-field>
        <mat-form-field>
            <mat-select placeholder="קטגוריה" formControlName="itemCategoryId">
                <mat-option *ngFor="let opt of itemCategoryOptions$ | async" [value]="opt.id">
                    {{opt.text}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <div class="searchbar-wrapper">
            <kp-item-autocomplete
                [blacklist]="form.get('ingredients').value"
                (selected)="onItemSelected($event)">
            </kp-item-autocomplete>
        </div>
        <div *ngFor="let ingr of ingredientsFormArray.controls; index as i" [formGroup]="ingr">
            <span>{{ingredients[i].label}}</span>
            <mat-form-field>
                <input matInput type="number" placeholder="יחידות" formControlName="amount">
            </mat-form-field>
            <button class="remove-ingr" mat-icon-button (click)="removeIngredient(i)">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </div>
    <div class="modal-footer">
        <button class="submit-btn" mat-button type="submit">
            הוסף
        </button>
    </div>
</form>