:host {
    display: block;
    position: relative;
}

.row {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title-row {
    border-bottom: 1px solid black;
}
