:host {
    display: block;
}

.search-wrapper {
    border-radius: 2px;
    min-width: 144px;
    position: relative;
    display: flex;
    background: rgba(255, 255, 255, 0.15);
}

.icon-wrapper {
    position: absolute;
    right: 0;
    height: 36px;
    width: 72px;
}

i {
    color: #fff;
}

input {
    background: none;
    border: none;
    color: #fff;
    font-size: 1.2em;
    height: 36px;
    padding-right: 72px;
    width: 100%;

    &::placeholder {
        color: #fff;
    }
}
