<div class="search-wrapper">
    <div class="search-select" (clickOutside)="closeDropdown()">
        <div class="dropdown-toggle" (click)="toggleDropdown()">
            <mat-icon>{{isDropdownOpen ? 'arrow_drop_up' : 'arrow_drop_down'}}</mat-icon>
            <span>{{(dropdownSelection$ | async).label}}</span>
        </div>
        <div class="dropdown-menu" *ngIf="isDropdownOpen">
            <div class="dropdown-option" *ngFor="let opt of dropdownOptions"
                [class.active]="opt.value === (dropdownSelection$ | async).value"
                (click)="selectOption(opt)">
                {{opt.label}}
            </div>
        </div>
    </div>
    <input type="text" placeholder="חיפוש" [formControl]="search" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" autoActiveFirstOption>
        <mat-option *ngFor="let opt of (filteredOptions$ | async)" [value]="opt">
            {{getDisplayedOptionString(opt)}}
        </mat-option>
    </mat-autocomplete>
</div>
