<div class="search-wrapper">
    <div class="icon-wrapper flex-center-center">
        <i class="fa fa-search"></i>
    </div>
    <input type="text" placeholder="חיפוש" [formControl]="search" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" autoActiveFirstOption>
        <mat-option *ngFor="let opt of (filteredOptions$ | async)" [value]="opt">
            {{opt.item.name}} ({{opt.type === 'baseItem' ? 'חומר גלם' : 'פריט'}})
        </mat-option>
    </mat-autocomplete>
</div>
