body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    background: #f2f2f2;
    font-family: 'VarelaRound';
    overflow-x: hidden;
    overflow-y: scroll;
    min-width: 400px;
}

input, textarea {
    margin: 0;
    outline: none;
}

button, input, textarea {
    font-family: inherit;
    font-size: 1em;
}

a {
    text-decoration: unset;
    cursor: pointer;
    color: black;
    outline: none;
}

button {
    padding: 4px 10px;
    border: 1px solid black;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    outline: none;

    &[disabled] {
        opacity: 0.7;
        cursor: default;
    }
}
