@for $i from 1 to 100 {
    .col-#{$i} {
        width: #{$i + "%"};
    }
}

.responsive-container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;

    @media (max-width: 1800px) {
        width: 66.66%;
    }

    @media (max-width: 1260px) {
        width: 840px;
    }

    @media (max-width: 920px) {
        width: auto;
        margin-left: 40px;
        margin-right: 40px;
    }
}

.flex-center-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.max-width {
    width: 100%;
}

.max-height {
    height: 100%;
}
