<div class="title-section">
    <button class="menu-btn" type="button" (click)="toggleSideNav()">
        <i class="fa fa-bars"></i>
    </button>
    <span>{{currentRoute$ | async}}</span>
</div>
<div class="searchbar-wrapper">
    <div class="icon-wrapper flex-center-center">
        <i class="fa fa-search"></i>
    </div>
    <input class="searchbar" placeholder="חיפוש">
</div>
<div class="settings-wrapper flex-center-center">
    <i class="fa fa-lg fa-cog clickable" (click)="settingsModal.open()"></i>
</div>
<kp-modal #settingsModal>
    <kp-settings-modal (saved)="settingsModal.close()"></kp-settings-modal>
</kp-modal>